{% extends 'task/index.html' %}

{% block content %}
<h1>login</h1>

<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">

    <button type="submit" class="btn btn-success">submit</button>


    <p>dont have an account? <a href="{% url 'register' %}" class="btn btn-secondary">create one</a></p>
    <p>forgot password? <a href="{% url 'password_reset' %}" class="btn btn-secondary">reset password</a></p>

    {{form.errors}}
</form>

{% endblock content %}