{% extends 'task/index.html' %}

{% block content %}

<div class="container">
    {% if user.is_authenticated %}
    {% if user.id == job.writter.id %}
        <h2>delete - {{ job.position }}</h2>

        <form action="" method="post">
            {% csrf_token %}
            <p>are you sure you want to delete post?</p> <br>

            <button type="submit" class="btn btn-danger">Delete Post</button>
            <a href="{% url 'home' %}" class="btn btn-secondary">No</a>
            

        </form>

    {% else %}
        <p>your not the owner</p>

    {% endif %}

{% else %}
<p>login first</p>
{% endif %}

</div>




{% endblock content %}